
.grid {
    height: 100%;
    background-color: #DADADA;
        .column {
            max-width: 450px;
            .header{
                .content{
                    font-weight: bolder;
                }
            }
        }
  }