
<div class="ui middle aligned center aligned grid">
    <div class="column">
      <h1 class="ui teal header">
        <div class="content">
          Log-in to your account
        </div>
      </h1>
  
      <form class="ui large form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="email" placeholder="E-mail address Or CNIC" ngModel>
            </div>
          </div>
  
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password" ngModel>
            </div>
          </div>
  
          <button type="submit" class="ui fluid large teal submit button">Login</button>
        </div>
  
        <div class="ui error message"></div>
      </form>
  
      <div class="ui message">
        New to us?
        <a [routerLink]="['signup']">Sign Up</a>
      </div>
    </div>
  </div>