<div class="ui modal issueReporting">
  <i class="close icon"></i>
  <div class="header">
    Report An Issue
  </div>
  <form class="ui form" #reportIssueForm="ngForm" (ngSubmit)="onSubmit(reportIssueForm)">
    <div class="ui segment">
      <div class="two fields">
        <div class="field">
          <label>Title</label>
          <input type="text" name="title" ngModel>
        </div>
        <div class="field">
          <label>Location</label>
          <select class="ui search selection dropdown" name="location" ngModel>
            <option class="default text" value="" selected disabled hidden>Select Location</option>  
              <option class="item" value="Gulistan-e-Johar">
                Gulistan-e-Johar</option>
              <option class="item" value="Gulshan-e-Iqbal">
                Gulshan-e-Iqbal</option>
              <option class="item" value="Malir">
                Malir</option>
              <option class="item" value="Nazimabad">
                Nazimabad</option>
          </select>
        </div>
      </div>
      <div class="field">
        <label>Category</label>
        <select class="ui search selection dropdown" name="category" ngModel>
          <option class="default text" value="" selected disabled hidden>Select Category</option>  
            <option class="item" value="Water Issue">
              Water Issue</option>
            <option class="item" value="Garbage Issue">
              Garbage Issue</option>
            <option class="item" value="Domestic Issue">
              Domestic Issue</option>
            <option class="item" value="Education Issue">
              Education Issue</option>
        </select>
      </div>
      <div class="field">
        <label>Description</label>
        <textarea name="description" ngModel></textarea>
      </div>
      <div class="actions">
        <div class="ui red button">Cancel</div>
        <button type="submit" class="ui green button">Report</button>
      </div>
    </div>
  </form>
</div>