
.ui.grid.container{
    margin-top:5px;
.ui.padded.segment{
    .content{
        .ui.header{
            margin-bottom: 0px;
        }
        .meta{
            span{
                color:lightgray;
                font-weight: bolder;
            }
        }
        .ui.segment{
            margin-top:0px;
        }
    }
}
}