
<div class="ui grid container" *ngIf="!noIssue">
  <div class="ui padded segment" *ngFor = "let issue of issues;">
    <div class="content">
      <div class="ui header">{{issue.title | uppercase}}</div>
      <div class="meta">
        <!-- <span>Posted on 13-04-2012 by <a>Imran khan</a></span> -->
        <label class="ui mini red tag label">{{issue.category}}</label>
        <label class="ui mini teal tag label">{{issue.status}}</label>
      </div>
      <div class="ui sub header">Description:</div>
      <div class="ui segment">
        <p>{{issue.description}}</p>
      </div>
      <div class="extra">
        <i class="green arrow alternate circle up large icon" (click)="push(issue.id, 'up')"></i>{{issue.pushUp}} pushups
        <i class="red arrow alternate circle down large icon" (click)="push(issue.id, 'down')"></i>{{issue.pushDown}} pushdowns
      </div>
    </div>
  </div>
  </div>

  <div *ngIf= "noIssue">
    <h1>No Issue Found</h1>
  </div>
