
<div class="ui grid container">
    <div class="ui padded segment">
      <div class="content">
        <div class="ui header">Issue Title</div>
        <div class="meta">
          <span>Request on 13-04-2012</span>
          <label class="ui mini red tag label">Water Issue</label>
          <label class="ui mini grey tag label">Pending to be approved</label>
        </div>
        <div class="ui sub header">Description:</div>
        <div class="ui segment">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend libero sed eros malesuada molestie. Aliquam ut lobortis ante. Pellentesque metus dolor, consectetur ut velit a, rhoncus hendrerit tellus. In hac habitasse platea dictumst. Duis eu ligula finibus, ultricies dolor sit amet, dignissim erat. Fusce cursus gravida justo, et ullamcorper ligula tempor et. Duis lacus elit, eleifend hendrerit auctor eget, mollis accumsan neque. Suspendisse potenti. Sed a imperdiet urna, et vulputate est.</p>
        </div>
        <div class="extra">
          <button class="ui right floated negative button">Delete</button>
          <button class="ui right floated button">Edit</button>
        </div>
      </div>
    </div>
    </div>
  
